Package: me.nabdev.gearglimpserev
Name: GearGlimpseRevolution
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS AR FRC Tools
Maintainer: nab138
Author: nab138
Section: Utilities
Depends: firmware (>= 12.2) | ${LIBSWIFT}
